@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>RENTON TECH VETERAN SERVICES</h1>
    <p class="lead">The Veteran Services page is a good start for a list of benefits and initial enrollment for veterans at RTC</p>
    <p><a href="https://www.rtc.edu/veteran-services" class="btn btn-primary btn-lg">Go &raquo;</a></p>
</div>
<div style="position:relative; margin: 50px 25% 50px 25%">
    <img src="~/Images/flag.jpg" />
</div>
<div class="row" style="background-color:#eee;">
    <div class="col-md-4">
        <h2>USO Pathfinder</h2>
        <p>
            USO Pathfinder® extends the USO experience to service members and military spouses transitioning from the military as they settle into their new communities,
            as well as for military spouses at any point in their military journey as they transition from one installation to the next.  
        </p>
        <p><a class="btn btn-default" href="http://www.uso.org/campaign/usopathfinder">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Camo2Commerce</h2>
        <p>Camo2Commerce (C2C) exists to assist transitioning service members and their spouses in a seamless transition into the civilian workforce.
        Through one-on-one career counseling services, their placement specialists develop career opportunities based on the available careers in the area of work.
        They actively work to fill partner companies’ job openings with candidates enrolled in their program.</p>
        <p><a class="btn btn-default" href="http://camo2commerce.com/about/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vocational Rehab</h2>
        <p>If a veteran has service related disabilities they may be eligible for the Cocationa Rehabilitation and Employment program.  Voc Rehab extends the GI-Bill to a
        total of 48 months and provides additional benefits and opportunities to include paying for tools that pertain to the degree the vet is pursuing.  When the veteran is 
        near completion of their degree program Voc Rehab sends a representative to the veterans desired place of employment to explain to the employer the many benefits of having
        a disabled vet join their team.</p>
        <p><a class="btn btn-default" href="https://www.benefits.va.gov/vocrehab/">Learn more &raquo;</a></p>
    </div>
</div>